@keyframes blink-notify {
    from {color: #FF0000;}
    to {visibility: hidden;}
}

@-webkit-keyframes blink-notify {
    from {color: #FF0000;}
    to {visibility: hidden;}
}

li.icon-notification strong{
	color: #FF0000;
	animation: blink-notify 1s steps(2, start) infinite;
	-webkit-animation: blink-notify 1s steps(2, start) infinite;
}