<!-- INCLUDE overall_header.html -->
<!-- BEGIN intro -->

<table cellspacing="1" class="forumline" align="center"  width="100%" style="margin-top: 0px;">			
    <tr>
        <th class="thTop" nowrap="nowrap">Forum</th>
        <th class="thTop" nowrap="nowrap">Temat</th>
        <th class="thTop" nowrap="nowrap">Autor</th>
    </tr>
    {intro.content}
    <tr>
        <td class="catBottom" align="center" colspan="5"></td>
    </tr>
</table>

<table cellspacing="1" class="forumline" align="center" width="100%" style="margin-top: 30px; text-align: center;">
    <tr>
        <th width="100%" nowrap="nowrap" colspan="5">Opcje</th>
    </tr>
    <tr>
        <td class="row1" width="20%" style="padding: 8px;">
            <a class="forumlink" href="./proste">Wgrywanie proste</a>
        </td>
        <td class="row1" width="20%" style="padding: 8px;">
            <a class="forumlink" href="./zaawansowane">Wgrywanie zaawansowane</a>
        </td>
        <td class="row1" width="20%" style="padding: 8px;">
            <a class="forumlink" href="./mojepliki">Moje pliki</a>
        </td>
        <td class="row1" width="20%" style="padding: 8px;">
            <a class="forumlink" href="./szukaj">Szukaj</a>
        </td>
        <td class="row1" width="20%" style="padding: 8px;">
            <a class="forumlink" href="http://podforak.rzeszow.pl/viewtopic.php?t=4446">Pomoc</a>
        </td>
    </tr>
</table>
<div align="center"><br /><br />
    <span class="copyright">
        {intro.admin}
    </span>
</div>
<div align="center"><br /><br />
    <span class="copyright">
        Skrypt opracował <a href="http://podforak.rzeszow.pl/profile.php?mode=viewprofile&u=88" target="_blank">SDD</a>
    </span>
</div>
<!-- END intro -->
<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->